.CommentsAsync {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: 7%;
    padding-top: 1%;
    align-content: flex-start;
}

.button-comments {
    padding: 15px 32px;
    background-color: #49d117;
    grid-column-start: center;
    grid-column-end: end;
    text-align: center;
    vertical-align: middle;
    float: right;
    color: white;
    border-radius: 10px;
} 

.comment_async {
    width: 90%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    height: content;
    background-color: #F5F5F5;
}

.user_async {
    width: 25%;
    padding-bottom: 5px;
}

.comment_text_async {
    width: 100%;
}


