.Wrapper {
    margin-top: 5%;
    height: 700px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: [start] 60% [center] 40% [end];
    grid-template-rows: [top] 5% [refresh_bot] 90% [bottom];

}

.Video {
    vertical-align: center;
    background-color: #4287f5;
    grid-column-start: start;
    grid-column-end: center;
    grid-row-start: top;
    grid-row-end: bottom;
}

.SyncComments {
    width: 100%;
    height: 100%;
    /*grid-column-start: center;
    grid-column-end: end;*/
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
    /*grid-row-start: refresh_bot;
    grid-row-end: bottom;*/
}
.refresh {
    height: content;
    width: 100%;
    background-color: #49d117;
    /*grid-column-start: center;
    grid-column-end: end;*/
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 10px;
    float: right;
    /*grid-row-start: top;
    grid-row-end: refresh_bot;*/
}

.button {
    height: content;
    width: 100px;
    background-color: #49d117;
    grid-column-start: center;
    grid-column-end: end;
    text-align: center;
    margin-right: 10%;
    vertical-align: middle;
    float: right;
    color: white;
    border-radius: 10px;
} 

.comment {
    width: 100%;
    display: flex;
    margin: 0px 5px 10px 0px;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    height: content;
    background-color: #F5F5F5;
}

.user {
    width: 25%;
    padding-bottom: 5px;
}

.time_since {
    padding-left: 50%;
    width: 25%;
    padding-bottom: 5px;
}

.comment_text {
    width: 100%;
}


