.Presurvey {
    margin-left: 15%;
    margin-right: 15%;
}

.button-pre {
    background-color: #49d117;
    padding: 15px 32px;
    text-align: center;
    color: white;
    border-radius: 10px;
    float: right;
}

