.Wrapper {
    margin-top: 5%;
    height: 700px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: [start] 60% [center] 40% [end]; 

}

.Video {
    width: 100%;
    height: 100%;
    border: 15px solid green;
    background-color: #4287f5;
    grid-column-start: start;
    grid-column-end: center;
}

.SyncComments {
    width: 100%;
    height: 100%;
    border: 15px solid red;
    background-color: #f54242;
    grid-column-start: center;
    grid-column-end: end;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
}
.button {
    background-color: #49d117;
    padding: 15px 32px;
    text-align: center;
    color: white;
    border-radius: 10px;
    float: right;
}

.comment {
    width: 100%;
    display: inline-flex;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
    padding: 10px 15px 10px 15px;
    height: content;
    background-color: #b8b6b2;
}

.user {
    width: 25%;
    padding-bottom: 5px;
}

.time_since {
    width: 25%;
    padding-bottom: 5px;
}

.comment_text {
    width: 100%;

}


