.Video-alone {
    text-align: center; 
}

.button-video {
    padding: 15px 32px;
    background-color: #49d117;
    text-align: center;
    margin-right: 10%;
    vertical-align: middle;
    float: right;
    color: white;
    border-radius: 10px;
} 

